<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008898621769-gl572m5bt7p4q1v3clkoh5tj9bhpq0fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008898621769-gl572m5bt7p4q1v3clkoh5tj9bhpq0fn</string>
	<key>API_KEY</key>
	<string>AIzaSyBXZ2UZekr-SekqhJfIkXrfSzVTc67cMF8</string>
	<key>GCM_SENDER_ID</key>
	<string>1008898621769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonisso.EventPass</string>
	<key>PROJECT_ID</key>
	<string>event-pass-1aad1</string>
	<key>STORAGE_BUCKET</key>
	<string>event-pass-1aad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008898621769:ios:ef62617f6af9d732</string>
	<key>DATABASE_URL</key>
	<string>https://event-pass-1aad1.firebaseio.com</string>
</dict>
</plist>